doctype html
html
    head
        link(type="text/css",rel="stylesheet",href="iview.css")
    body
        #app
            el-header
            el-main
        script(type="text/javascript",src="index.js")